includes:
	- ./vendor/nunomaduro/larastan/extension.neon

parameters:

	# tmpDir: '.phpstan_cache'

	paths:
		- app
		- config
		- database/migrations
		- routes

	excludePaths:
		- app/Modules/Parsedown

	# The level 8 is the highest level
	level: 6
	reportUnmatchedIgnoredErrors: true

	# remove some day
	checkGenericClassInNonGenericObjectType: false

	ignoreErrors:
		- '#isRole(Master|Admin|BusLeader|Instructor|Teacher|Parent|Or)*\(\)#' # Is magic method
		-
			message: '#Access to an undefined property CzechitasApp\\Models\\Category::\$imagePath#'
			path: app/Http/Controllers/Api/CategoryController.php

		# Remove in future
		- '#Access to an undefined property Illuminate\\Routing\\Route::\$[a-z0-9]+#i'
		- '#PHPDoc type .* of property .* is not covariant with PHPDoc type#'
		- '#Relation .* is not found in CzechitasApp\\Models\\[a-z0-9]+ model#i'
