.intro_cards {
    .card_wrapper {
        max-width: 450px;
    }

    .card {
        height: 100%;
    }

    .image_wrapper {
        height: 100%;
    }

    .card-img-overlay {
        background: rgba(0, 0, 0, 0.7);
        color: #ffffff;
        font-weight: bold;
        top: auto;
    }

    .card-body {
        min-height: auto;
    }
}

.news_wrap {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: -($grid-gutter-width / 2);

    .card_wrapper {
        max-width: none;

        &.flash .card {
            animation: flash linear 1s 1;

            > * {
                animation: flashInner linear 1s 1;
            }
        }
    }
}

@keyframes flash {
    0% {
        box-shadow: 0 0 10px 3px rgba(142, 3, 2, 0);
    }

    10% {
        box-shadow: 0 0 10px 3px rgba(142, 3, 2, 1);
    }

    100% {
        box-shadow: 0 0 10px 3px rgba(142, 3, 2, 0);
    }
}

@keyframes flashInner {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
